.font-link {
  font-family: "Handjet", sans-serif;
}

.title {
  display: flex;
  justify-content: center;
  font-family: "Handjet", sans-serif;
}

.card-item {
  border-radius: 15px;
  background-color: rgba(128, 128, 128, 0.279);
  width: 60%;
  margin: 20px auto;
  padding: 1rem;
}

.book-header {
  display: flex;
  flex-direction: row;
}

.book-image {
  margin-right: 10%;
  align-self: flex-start;
}

.book-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 35px;
  display: flex;
  width: 60%;
}

.book-btn-div {
  display: flex;
  margin-left: 88%;
  padding: 10px 12px;
  font-size: 20px;
  border-radius: 5px;
  box-shadow: 1px 1px 3px rgb(176, 145, 244);
}

.genre-select-container {
  padding-left: 83.5%;
  padding-bottom: 2rem;
}

.genre-select {
  margin: 35px;
  padding: 0.4rem;
  border-radius: 0.25rem;
  width: 200px;
  color: rgb(255, 255, 255);
  background: rgb(153, 100, 170);
}

.review-card-item {
  border-radius: 15px;
  background-color: rgba(128, 128, 128, 0.279);
  width: 50%;
  margin: 20px auto;
  padding: 1rem;
}

.review-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.review-title {
  font-size: 30px;
  padding-left: 25px;
}

.review-author-container {
  display: flex;
  flex-direction: row;
  padding-right: 20px;
}

.author-image {
  border-radius: 50%;
  margin: 5%;
  margin-top: 10%;
}

.review-author {
  font-size: 20px;
  margin: 5%;
}

.review-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 20px;
}

.profile {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-radius: 15px;
  background-color: rgba(128, 128, 128, 0.279);
  width: 50%;
  margin: 20px auto;
  padding: 1rem;
}
.profile-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-image {
  padding: 30px;
}
.profile-username {
  font-size: 30px;
}

.profile-bio {
  margin-top: 5%;
  font-size: 20px;
}

.book-details-header {
  display: flex;
  flex-direction: row;
}

.book-details-image {
  margin-right: 10%;
  align-self: flex-start;
}

.book-details-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
}

.book-details-sub-info {
  display: flex;
  flex-direction: row;
}

.book-details-title {
  font-size: 30px;
}
.book-details-author {
  font-size: 20px;
}

.book-details-genre {
  padding: 10px;
}

.book-details-date {
  padding: 10px;
}

.book-details-footer {
  display: flex;
  justify-content: flex-end;
}

.book-details-page_count {
  padding-right: 25px;
}

.my-review-buttons {
  display: flex;
  justify-content: flex-end;
}

.edit-button {
  padding: 10px 12px;
  margin: 10px;
  font-size: 20px;
  border-radius: 5px;
  box-shadow: 1px 1px 3px rgb(176, 145, 244);
}

.delete-button {
  padding: 10px 12px;
  margin: 10px;
  font-size: 20px;
  border-radius: 5px;
  box-shadow: 1px 1px 3px rgb(176, 145, 244);
}

.review-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

.view-review-button {
  margin: 10px;
  padding: 10px 12px;
  font-size: 20px;
  border-radius: 5px;
  box-shadow: 1px 1px 3px rgb(176, 145, 244);
}

.add-review-button {
  margin: 10px;
  padding: 10px 12px;
  font-size: 20px;
  border-radius: 5px;
  box-shadow: 1px 1px 3px rgb(176, 145, 244);
}

.back-container {
  display: flex;
  margin-left: 90%;
}

.back {
  font-size: 20px;
}

.back-text {
  background-color: rgb(220, 66, 192);
  padding: 10px 12px;
  border-radius: 5px;
  box-shadow: 1px 1px 3px rgb(176, 145, 244);
}

.back-text:hover {
  color: black;
}

.review-details {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  font-size: 20px;
}

.review-details-body {
  font-size: 20px;
}

.error {
  font-size: 30px;
  display: flex;
  justify-content: center;
}

.edit-icon {
  background-color: rgb(246, 118, 223);
  height: 30px;
  width: 30px;
  border: solid black;
  border-radius: 15%;
  margin: 0.25%;
}

.delete-icon {
  background-color: rgb(246, 118, 223);
  height: 30px;
  width: 30px;
  border: solid black;
  border-radius: 15%;
  margin: 0.25%;
}
