:root {
  font-family: "Handjet", sans-serif;
  line-height: 2.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: rgba(255, 255, 255, 0.87);
  text-decoration: inherit;
  background-color: #1a1a1a;
}
a:hover {
  color: #6883f9;
}

body {
  margin: 0;
  min-height: 100vh;
  background-image: url();
  background: #355c7d; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #c06c84,
    #6c5b7b,
    #355c7d
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #c06c84,
    #6c5b7b,
    #355c7d
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  /* background-image: url(https://th.bing.com/th/id/OIG.UnZmAC5zP6yCRUgjz2Le?pid=ImgGn); */

  /* background-position: center; */
  /* background-repeat: no-repeat; */
  /* background-size: cover; */
}

h1 {
  font-size: 4.2em;
  line-height: 1.1;
}

button {
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
}
button:hover {
  color: #646cff;
}
