.h1-div {
  display: flex;
  justify-content: center;
  align-content: center;
}

.form-parent {
  display: flex;
  justify-content: center;
}

.form-and-header {
  width: 35%;
}

.form-fieldset {
  margin: 20px 10px;
  border: none;
  border-radius: 10px;
  box-shadow: 0px 0px 5px rgb(255, 255, 255);
  padding: 10px;
  height: 600px;
}

.form-field {
  margin: 10px;
  padding: 5px;
  display: flex;
  justify-content: center;
}

.input-field {
  width: 90%;
  height: 550px;
  border-radius: 5px;
  padding: 10px;
  background-color: aliceblue;
  font-size: 22px;
  font-family: "Handjet", sans-serif;
  color: black;
}

.button-div {
  display: flex;
  justify-content: center;
}

.submit-button {
  margin: 20px;
  padding: 10px 12px;
  font-size: 20px;
  border-radius: 5px;
  box-shadow: 1px 1px 3px rgb(176, 145, 244);
}

.cancel-button {
  margin: 20px;
  padding: 10px 12px;
  font-size: 20px;
  border-radius: 5px;
  box-shadow: 1px 1px 3px rgb(176, 145, 244);
}
